.datum01::after {
    font-weight: 400;
    content: "01.07.2021";
}

.datum02::after {
    font-weight: 400;
    content: "30.07.2021";
}

.hide {
    display: block;
    /*    display: none;*/
    /*    display: block;*/
