*,
*:before,
*:after {
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: DarkSlateGray;
}


a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;
}

fa {
    display: inline-block;
}

.fa-home {
    font-size: 22px;
    background-color: #0B0D17;
    padding: 19px;
    color: #FFF;
}

.fa-check-circle {
    font-size: .8em;
    padding-right: 10px;
    color: #000000;
}

.fa-arrow-alt-circle-right {
    font-size: .8em;
    padding-right: 5px;
}

.container {
    width: 100%;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /*    background-color: lightgoldenrodyellow;*/
}

.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: column;
}

/*
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
}

.col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
*/

section {
    display: block;
}

.text-center {
    text-align: center;
}

.art-bild {
    margin: 0 auto;
    margin-top: 30px;
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

.kurze-beschreibung h2 {
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal;
}

.kurze-beschreibung p {
    border-bottom: 1px solid #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: lighter;
}


.logo {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basic-menu {
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}


.basic-menu li {
    list-style-type: none;
    padding-right: 35px;
    text-decoration: none;
    display: inline-block;
}

.basic-menu li a {
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1.3;
    font-size: 18px;
}

.kostenloser-versand p {
    padding: 10px 0px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.8px;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #f2f2f2;
}


.sofort-kaufen {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #000000;
    position: relative;

    padding-right: 15px;
    padding-left: 15px;
}

.sofort-kaufen a {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    margin: 0px auto;
    font-size: 14px;
    letter-spacing: 0.8px;
}


.services h2 {
    font-size: 1.1em;
    font-weight: 300;
    background-color: #f2f2f2;
    max-width: 320px;
    margin: 0px auto;
    padding: 20px 20px;
    letter-spacing: 1.2px;
    margin-top: 40px;
    text-transform: uppercase;
    border-bottom: 3px solid #000000;
}

.services p {
    margin-top: 0px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
    letter-spacing: 0.4px;
    text-align: left;
    border: 1px solid #f2f2f2;
    padding: 20px 10px 20px 10px;
    color: #5F5E5E;
    margin-bottom: 1rem;
}

.vorteile h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #f2f2f2;
    margin: 0px auto;
    margin-top: 0px;
    padding: 10px 20px;
    letter-spacing: 1.2px;
    margin-top: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #000000;
}

.vorteile-icons {
    background-color: #f4ecdc;
    padding-top: 40px;
}

.vorteile p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 10px;
    color: #5F5E5E;
    text-align: left;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 1px;
    position: relative;
}

.weitere-artikel-im-shop {
    text-align: center;
}

.weitere-artikel-im-shop h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    width: 320px;
    margin: 0px auto;
    margin-top: 0px;
    padding: 20px 20px;
    letter-spacing: 1.2px;
    margin-top: 40px;
    text-transform: uppercase;
}

.cross-selling {
    margin-bottom: 50px;
    padding-top: 40px;
    border-top: 3px solid #000000;
}

.cross_sell {
    border: 1px solid #f2f2f2;
}

.cross-selling img {
    padding-top: 20px;
}

.cross-selling h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #363434;
    margin-bottom: 50px;
}

.cross-selling h4 {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.cross-selling a {
    color: #393737;
}


.newsletter {
    background-color: #F2f2f2;
    padding: 40px 0px;
    border-bottom: 1.5px dashed #000000;
}


.newsletter h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.newsletter a {
    color: #fff;
    background-color: #080A0D;
    padding: 15px 60px;
    border-radius: 33px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.8px;
}

.newsletter p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
}

.footer {
    background-color: #f2f2f2;
}


.footer h3 {
    padding-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #807E7E;
    border-bottom: 1px solid #807e7e;
    padding-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.footer p {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #807e7e;
    margin-top: 30px;
    padding-right: 30px;
}

.footer li {
    list-style: none;
    display: block;
    padding-top: 20px;
    text-align: left;
}


.footer li a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #807e7e;
}

.fa-shopping-cart,
.fa-star,
.fa-info-circle,
.fa-envelope {
    color: #000000;
    padding-right: 10px;
}


.kontakt-last a {
    background-color: #000000;
    padding: 15px 70px;
    text-align: left;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1.2px;
    font-size: 14px;
    border-radius: 33px;
}
